<!-- About Section -->
<section class="success" id="about">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Overview</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>Organized by the non-profit research organization ContinualAI, the conference aims at speeding-up the long desired inclusive and sustainable progress of our community with an open-access, multi-timezone, 24 hours long event which brings together ideas at the intersection of machine learning, computational neuroscience, robotics and more!</p>
      </div>
      <div class="col-lg-12">
        <p>
        The natural world is a <b>dynamic</b> environment that is constantly changing, requiring humans and animals to <b>adapt</b>. However, much research in Artificial Intelligence (AI) is focused on the static train-test paradigm with heavily curated datasets. CLAI Unconf has a broad focus beyond these static assumptions. In particular, its themes include (but are not limited to):
          <ul>
          <li><p>Navigating complex data collection systems</p></li> 
          <li><p>Understanding and describing continuous streams of data</p></li>
          <li><p>Lifelong learning processes and generalization of knowledge beyond a specific target</p></li>
          <li><p>Discovering new concepts in changing environments and handling partially observable information from potentially disparate data sources</p></li>
          <li><p>Related topics from an interdisciplinary perspective</p></li>
        </ul>
      </p>
      <p>A more detailed account is provided in the call for papers, available soon. We look forward to your submissions at the un-conference!</p> 
      </div>
    </div>

  </div>
  </section>

  <section class="success">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What's Unique about CLAI Unconf?</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h4 class=text-center>What you won't find elsewhere:</h4>
        
        <ul>
          <li><p>Easy accessibility: virtual, multi-timezone support</p></li>
          <li><p>Roundtables: active roundtables, not just panels of the same experts! Share your topic in advance so we can discuss it with a voting system like Reddit's.</p></li>
          <li><p>Hands-on sessions: get your hands dirty, work collaboratively! Express your creativity: research is not only about formal research papers!</p></li>
          <li><p>Mentoring Sessions</p></li>
          <!-- <li><p>Pre-registration</p></li> -->
        </ul>
      </div>
    </div>
    
    <br>

    <div class="row">
      <div class="col-lg-12">
        <h4 class=text-center>Pre-registration</h4>
        <p>We are welcoming original contributions in the form of pre-registration articles. Pre-registration ensures scientific excellence through a two-stage submission procedure that separates the quality of scientific hypotheses from potentially negative downstream empirical analysis.</p>
        <p >Researchers first disseminate well-articulated ideas with a thoroughly outlined experimental protocol, incorporate feedback through active dialogue at the conference, and their rigorously evaluated follow-up findings later get published in CLAI Unconf's proceedings of machine learning research (PMLR). </p>
       <p>Thus, ideas can be presented and discussed within the community independently of conventional publication mechanisms, before ideas are potentially shut down prematurely or full-fledged publications finished necessarily. The process further guarantees that valuable insights from well formulated hypotheses with negative downstream outcomes are shared with the community. 
        </p>

      </div>
    </div>  
  </div class="row">
    <img class="img" src="{{ site.baseurl }}/img/CLAI_prereg.png">
  </div>  
    <!-- <div class="row">
      <div class="col-lg-12">
        
        <h4 class=text-center>Main Organization Details</h4>
        <p class=text-center><i>For more information, please see our program page</i></p>
        <br>
        <p>The Unconf is organized for 24 hours of content, related to:</p>
        <ul>
          <li><p>4 main Research Topics</p></li>
          <li><p>2 Sessions per Topic (to cover all timezones)</p></li>
          <li><p>4 slots for Session (with different interaction modalities): Invited Talks, Abstract Session, Roundtables and Hands-on activities.</p></li>
          <li><p>3 CLAI slots: for opening, middle, closing remarks.</p></li>
        </ul>
        
      </div>

    </div> -->
  </div>
</section>

<!--
<div class="col-lg-8 col-lg-offset-2 text-center">
  <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
    <i class="fa fa-download"></i> Download Theme
  </a>
</div>
-->