<!-- About Section -->
<section class="success" id="about">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Overview</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>Organized by the non-profit research organization ContinualAI, the conference aims at speeding-up the long desired inclusive and sustainable progress of our community with an open-access, multi-timezone, 24 hours long event which brings together ideas at the intersection of machine learning, computational neuroscience, robotics and more!</p>
      </div>
    </div>

  </div>
  </section>

  <section class="success">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What's Unique about CLAI Unconf?</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h4 class=text-center>What you won't find elsewhere:</h4>
        
        <ul>
          <li><p>Easy accessibility: virtual, multi-timezone support</p></li>
          <li><p>Roundtables: active roundtables, not just panels of the same experts! Share your topic in advance we can discuss about it with a voting system like reddit.</p></li>
          <li><p>Hands-on sessions: get your hands dirty, work collaboratively! Express your creativity: research is not only about formal research papers!</p></li>
          <li><p>Mentoring Sessions</p></li>
          <li><p>Pre-registration</p></li>
        </ul>
      </div>
    </div>
    
    <br>
      
    <!-- <div class="row">
      <div class="col-lg-12">
        
        <h4 class=text-center>Main Organization Details</h4>
        <p class=text-center><i>For more information, please see our program page</i></p>
        <br>
        <p>The Unconf is organized for 24 hours of content, related to:</p>
        <ul>
          <li><p>4 main Research Topics</p></li>
          <li><p>2 Sessions per Topic (to cover all timezones)</p></li>
          <li><p>4 slots for Session (with different interaction modalities): Invited Talks, Abstract Session, Roundtables and Hands-on activities.</p></li>
          <li><p>3 CLAI slots: for opening, middle, closing remarks.</p></li>
        </ul>
        
      </div>

    </div> -->
  </div>
</section>

<!--
<div class="col-lg-8 col-lg-offset-2 text-center">
  <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
    <i class="fa fa-download"></i> Download Theme
  </a>
</div>
-->