<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <img class="img" src="{{ site.baseurl }}/img/clai_robot.png" alt="ContinualAI Robot" /> -->
        <img class="img" src="{{ site.baseurl }}/img/CLAI-Vertical-Transparent.png" alt="ContinualAI Robot" />

        <div class="intro-text">

          <!-- <span class="name">Continual<i><span style="color: rgb(0, 149, 255);">AI</span></i> Unconference</span> -->
          <!-- <hr class="star-light" /> -->
          <h3> 
          October 19, 2023 
          <!-- <sup>th</sup> -->
          </h3>
          <h3>
          Free for everyone
          </h3>
          <h3>
          Anywhere on Earth
          </h3>
          <br>
          <a href="https://www.eventbrite.it/e/continualai-unconference-tickets-617690417667" target='_blank'><button type="button" class="btn btn-primary"><h4>Click here to register!</h4></button></a>
          <h4>
            <a style="color: beige;" href="https://twitter.com/ContinualAI" target="_blank">
              Twitter <i class="fa-brands fa-twitter"></i>
            </a>
          </h4>
          <h4>
            <a style="color: beige;" href="https://continualai.us3.list-manage.com/subscribe?u=29a139e2e5d0fc1e2ef05c1a9&id=bd92706098" target="_blank">
              Newsletter <i class="fa-solid fa-newspaper"></i>
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</header>

