<!-- Overview Section -->
<section class="portfolio" id="Overview">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Overview</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p style="color:#000">Organized by the non-profit research organization ContinualAI, the conference aims at speeding-up the long desired inclusive and sustainable progress of our community with an open-access, multi-timezone, 24 hours long event which brings together ideas at the intersection of machine learning, computational neuroscience, robotics and more!</p>
        
        <!-- <p style="color:#000">ContinualAI members have free access to all the events organized by the organization. <a href="https://www.continualai.org/about-us/join-us" target="_blank">Get your membership today</a>, and join the ContinualAI Unconference for free! </p> -->
      </div>

    <div class="col-lg-12">
      <p>
        The natural world is a dynamic environment that is constantly changing, requiring humans and animals to adapt. However, much research in Artificial Intelligence (AI) is focused on the static train-test paradigm with heavily curated datasets. CLAI Unconf has a broad focus beyond these static assumptions. In particular, its themes include (but are not limited to):
Navigating complex data collection systems
Understanding and describing continuous streams of data
Lifelong learning processes and generalization of knowledge beyond a specific target
Discovering new concepts in changing environments and handling partially observable information from potentially disparate data sources
Related topics from an interdisciplinary perspective
A more detailed account is provided in the call for papers.

      </p>
    </div>
<!--
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
-->
    </div>
  </div>
</section>
