
<!-- Org People -->

<section class="portfolio" id="people">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 style="color:#{{ site.color.primary }}">Conference Organizers</h2>
          <hr class="star-dark">
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-12 text-center">
          <p style="color:#000">Organized by the non-profit research organization ContinualAI and members of the continual learning community</p>    
        </div>
      </div>
    </div>
    <br>
      <div class="container">
        <div class="row text-center"> 
        {% for person in site.data.people %}


                <div class="col-lg-4 col-sm-6 ">
                    <div class="our-team">
                        <div class="image-cropper pic">
                            <a href="{{ person.website }}" target="_blank">
                                <img src={{ site.baseurl }}{{ person.img }} alt=""> 
                            </a>    
                        </div>
                        <div>
                            <p>{{ person.name }}</p>
                            <!-- <p> {{ person.title }}</p> -->
                            <p> <i> {{ person.uni }} </i> </p>
                            <p> {{ person.position }}</p>
                        </div>
                    </div>
                </div>

        {% endfor %}

            </div>
        </div>


  </section>

<!-- <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="/img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
