<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include nav.html %}

  {% include blank.html %}
  {% include posts.html %}

  {% include footer.html %}
  {% include js.html %}

  <script>
    function getPics() {
        const imgs = document.querySelectorAll('.fullscreenable_img');
        
        imgs.forEach(img => {
            img.addEventListener('click', function() {
                const fullPage = document.querySelector('#fullpage');
                fullPage.style.backgroundImage = 'url(' + img.src + ')';
                fullPage.style.display = 'block';
                $('body').css('overflow', 'hidden');
                var viewportOffset = document.querySelector('body').getBoundingClientRect();
                // these are relative to the viewport
                var top = viewportOffset.top;
                var left = viewportOffset.left;
                /*console.log('top' + top);
                console.log('left' + left);*/
                fullPage.style.top = (-top) + "px";
                fullPage.style.left = (-left) + "px";
            });
        });
    }
    getPics();
  </script>

  <script>
    function fullscreenClick() {
      $('#fullpage').css('display', 'none');
      $('body').css('overflow', 'auto'); 
    };
  </script>

  <div id="fullpage" onclick="fullscreenClick();"></div>

  <style>
    .fullscreenable_img {
      cursor: zoom-in;
    }
  </style>

</body>

</html>
